<!DOCTYPE html>
<html>
<head>
    <title>View Customers</title>
    <link rel="stylesheet" href="/styles/main.css"> <!-- Adjust if needed -->

</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
        <nav>
            <a href="/admin/view-products">View Products</a>
            <a href="/admin/view-orders">View Orders</a>
            <a href="/admin/view-customers">View Customers</a>
            <a href="/admin/add-product">Add Product</a>
            <a href="/admin/view-transactions" class="active">View Transactions</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <h1>All Customers</h1>
    <% if (users.length > 0) { %>
        <ul>
            <% users.forEach(user => { %>
                <li>
                    <p>Username: <%= user.username %></p>
                    <p>Email: <%= user.email %></p>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No customers yet.</p>
    <% } %>
</body>
</html>
